RAW_DATA_PATH=c:\Users\labuser\Desktop\unicycle_project_umich\LOGS\ValidLogs\log_2026-04-01_14-20-46.533.csv
MATH_POS_PATH=c:\Users\labuser\Desktop\Matlab_Simu4Unicycle\Derivation\Segway\LOG\simulation_POSITION_Model_motorDamp_Controller.csv
MATH_VEL_PATH=c:\Users\labuser\Desktop\Matlab_Simu4Unicycle\Derivation\Segway\LOG\simulation_VELOCITY_Model_motorDamp_Controller.csv
MUJOCO_POS_PATH=c:\Users\labuser\Desktop\Unicycle_Mujoco_Simulation\csv\mydata\position.csv
MUJOCO_VEL_PATH=c:\Users\labuser\Desktop\Unicycle_Mujoco_Simulation\csv\mydata\velocity.csv